{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block title %} Garden  {% endblock %}
{% block navbar %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.logout') }}">Log Out</a>
    </li>
</ul>
{% endblock %}
{% block content %}



<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">🪴️ Watering planner 🪴</h1>
  <p class="lead">Do you have plenty of houseplants and repeatedly forgot to water them?</p>
  <hr class="my-4">
  <p>You've found the right place! This app will send you email every time your plants need to be water.</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('views.garden') }}" role="button">Visit your garden</a>
        </div>
    </div>
  <footer>
    <div class="container">
          <p class="copyright text-muted">Built with all the love in the world by Jan Kořistka</p>
    </div>
  </footer>
{% endblock %}