{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block title %}Add Plant{% endblock %}


{% block content %}


    <form method="POST" action="{{ url_for('views.add') }}" >
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form,novalidate=True) }}
    </form>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<hr>
 <p class="alert"> <font size="+1">{{ message }}</font></p>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}