{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block title %} Add houseplants  {% endblock %}
{% block navbar %}

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
    </li>
</ul>

{% endblock %}

{% block content %}


<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">🪴️ My Garden 🪴</h1>
        <hr class="my-4">
        <p class="lead text-center">💧Once you add a plant to the garden the app will automatically email you every time you need to water the plant based on water needs you provide💧</p>
        <hr class="my-4">
        {% if plants == []: %}
        <p class="lead text-center">Garden is empty😟</p>
        {% endif %}

{% for plant in plants %}

<ul>
        <li>
            <a class="btn btn-primary btn-sm" href="{{ url_for('delete', id=plant.id) }}">Delete</a>
            {{plant.name}}
            <a class="btn btn-primary btn-sm" href="{{ url_for('edit', id=plant.id) }}">Change water needs</a>
            <a class="btn btn-primary btn-sm" href="{{ url_for('photo', id=plant.id) }}">Show photo</a>
{% endfor %}
{% for info in watering %}
            {{info.date_created}} - {{info.position}} - {{info.water_needs}}
{% endfor %}


        </li>
</ul>

        <a class="btn btn-warning" href="{{ url_for('add') }}">Add New Plant</a>

    </div>
</div>
<footer>
    <div class="container">
          <p class="copyright text-muted">Built with all the love in the world by Jan Kořistka</p>
    </div>
</footer>
{% endblock %}