{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block title %} Add houseplants  {% endblock %}


{% block content %}


<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">🪴️ My Garden 🪴</h1>
        <hr class="my-4">
        <p class="lead text-center">💧Once you add a plant to the garden the app will automatically email you every time you need to water the plant based on water needs you provide💧</p>
        <hr class="my-4">
        {% if plants == []: %}
        <p class="lead text-center">Garden is empty😟</p>
        {% endif %}

{% for plant in plants %}
<ul>
        <li>
            <a href="{{ url_for('delete', id=plant.id) }}">Delete</a>
            {{plant.name}} - {{plant.date_created}} - {{plant.position}} - {{plant.water_needs}}
            <a href="{{ url_for('edit', id=plant.id) }}">Change water needs</a>
        </li>
</ul>
{% endfor %}

        <a class="btn btn-warning" href="{{ url_for('add') }}">Add New Plant</a>

    </div>
</div>
<footer>
    <div class="container">
          <p class="copyright text-muted">Built with all the love in the world by Jan Kořistka</p>
    </div>
</footer>
{% endblock %}